.zkpass-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 40rem;
  background-color: rgba(24, 25, 27);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 0.5rem;
  z-index: 999
}

.zkpass-uploadimg {
  padding: 0.5rem;
  width: 100%;
  max-height: 15rem;
}

.zkpass-option-box {
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
  padding: 0.5rem;
}
.zkpass-option {
  flex: 1;
  display: flex;
  align-items: center;
}
.zkpass-option-label {
  display: flex;
  width: 70px;
  justify-content: center;
}

.zkpass-describe {
  width: 100%;
  padding: 1rem;
}

.zkpass-data {
  padding: 1rem;
  width: 100%;
  height: auto;
}

.zkpass-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  width: 100%;
  padding-right: 1rem;
}
.zkpass-submit-btn {
  background: #666;
  color: #fff;
  width: 100px;
  border: none;
  height: 35px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
