.zkpass-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 40rem;
  background-color: rgba(24, 25, 27);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10000000000;
}

.zkpass-uploadimg {
  padding: 0.5rem;
  width: 100%;
  max-height: 15rem;
}

.zkpass-option-box {
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
  padding: 0.5rem;
}
.zkpass-option {
  flex: 1;
  display: flex;
  align-items: center;
}
.zkpass-option-label {
  display: flex;
  width: 70px;
  justify-content: center;
}

.zkpass-describe {
  width: 100%;
  padding: 0.5rem;
}

.zkpass-data {
  padding: 1rem 1rem;
  width: 100%;
  height: auto;
  background-color: aqua;
}

.zkpass-data-body {
  display: grid;
  grid-template-columns: 10rem auto;
}

.zkpass-footer {
  height: 2rem;
  display: grid;
  background-color: blue;
}
